body {
    background-color: #D8BFD8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}
.navbar img {
    height: 50px;
    margin-right: 20px;
}
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar .nav-links {
    display: flex;
}

/* Add this media query for responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack navbar items vertically */
    }
    .navbar .nav-links {
        flex-direction: column; /* Stack nav links vertically */
        width: 100%; /* Full width for mobile */
    }
    .navbar a {
        padding: 10px; /* Adjust padding for mobile */
        text-align: left; /* Align text to the left */
        width: 100%; /* Full width for mobile links */
    }
}